In [10]:
import pandas as pd
import datetime
futures = pd.read_csv('processed_futures_monthly_1988_2030.csv')
futures.head()

     exp_date  52W_high  52W_low  52W_pct_chg  futures_price  implied_rate
0  1988-10-31     91.79    91.69        -0.04          91.71          8.29
1  1988-11-30     91.79    91.55        -0.04          91.66          8.34
2  1988-12-30     91.54    90.89        -0.15          91.20          8.80
3  1989-01-31     91.59    90.76        -0.54          90.88          9.12
4  1989-02-28     91.75    90.62        -0.90          90.63          9.37

In [11]:
futures['implied_rate_diff'] = futures['implied_rate'].diff()
futures.head()

,exp_date,52W_high,52W_low,52W_pct_chg,futures_price,implied_rate,implied_rate_diff
0,1988-10-31,91.79,91.69,-0.04,91.71,8.29,NaN
1,1988-11-30,91.79,91.55,-0.04,91.66,8.34,0.05
2,1988-12-30,91.54,90.89,-0.15,91.20,8.80,0.46
3,1989-01-31,91.59,90.76,-0.54,90.88,9.12,0.32
4,1989-02-28,91.75,90.62,-0.90,90.63,9.37,0.25

In [16]:
print(type(futures['exp_date']))

<class 'pandas.core.series.Series'>

In [17]:
futures['exp_date'] = pd.to_datetime(df['exp_date']).dt.to_period('M').dt.to_timestamp()
futures.head()

,exp_date,52W_high,52W_low,52W_pct_chg,futures_price,implied_rate,implied_rate_diff
0,1988-10-01,91.79,91.69,-0.04,91.71,8.29,NaN
1,1988-11-01,91.79,91.55,-0.04,91.66,8.34,0.05
2,1988-12-01,91.54,90.89,-0.15,91.20,8.80,0.46
3,1989-01-01,91.59,90.76,-0.54,90.88,9.12,0.32
4,1989-02-01,91.75,90.62,-0.90,90.63,9.37,0.25

In [18]:
futures.to_csv("futures_with_diff.csv")

In [19]:
print(futures.shape)

(506, 7)