# Fed interest rate decision labels

Notes:
- Fed switches from single target interest rate to a target interest rate range in 2008
- We use the target interest rate pre 2008, and the upper limit of the target interest rate range post 2008

Data comes in as the actual rate. We need to parse it by rate decision.

In [1]:
import pandas as pd

In [ ]:
rates_pre_2008 = pd.read_csv('DFEDTAR.csv')
rates_post_2008 = pd.read_csv('DFEDTARU.csv')

In [3]:
rates_pre_2008.head()

  observation_date  DFEDTAR
0       1982-09-27    10.25
1       1982-09-28    10.25
2       1982-09-29    10.25
3       1982-09-30    10.25
4       1982-10-01    10.00

In [21]:
rates_pre_2008 = rates_pre_2008.rename(columns={'DFEDTAR':'rate'})

In [4]:
rates_post_2008.head()

  observation_date  DFEDTARU
0       2008-12-16      0.25
1       2008-12-17      0.25
2       2008-12-18      0.25
3       2008-12-19      0.25
4       2008-12-20      0.25

In [22]:
rates_post_2008 = rates_post_2008.rename(columns={'DFEDTARU':'rate'})

In [5]:
import datetime

In [23]:
full_rates = pd.concat([rates_pre_2008, rates_post_2008], axis=0, ignore_index=True)

In [24]:
full_rates.head()

  observation_date   rate
0       1982-09-27  10.25
1       1982-09-28  10.25
2       1982-09-29  10.25
3       1982-09-30  10.25
4       1982-10-01  10.00

In [27]:
full_rates['observation_date'] = pd.to_datetime(full_rates['observation_date'])

In [28]:
full_rates.head()

  observation_date   rate
0       1982-09-27  10.25
1       1982-09-28  10.25
2       1982-09-29  10.25
3       1982-09-30  10.25
4       1982-10-01  10.00

In [36]:
decisions = []
for prev, curr in zip(full_rates['rate'][:-1], full_rates['rate'][1:]):
    if curr > prev:
        decisions.append('raise')
    elif curr < prev:
        decisions.append('lower')
    else:
        decisions.append('hold')

In [38]:
print(decisions[:5])

['hold', 'hold', 'hold', 'lower', 'hold']

In [39]:
decisions.insert(0, "na")

In [40]:
full_rates['decision'] = decisions

In [41]:
full_rates.head()

  observation_date   rate decision
0       1982-09-27  10.25       na
1       1982-09-28  10.25     hold
2       1982-09-29  10.25     hold
3       1982-09-30  10.25     hold
4       1982-10-01  10.00    lower