# Fed interest rate decision labels

Notes:
- Fed switches from single target interest rate to a target interest rate range in 2008
- We use the target interest rate pre 2008, and the upper limit of the target interest rate range post 2008

Data comes in as the actual rate. We need to parse it by rate decision.

In [1]:
import pandas as pd

In [2]:
rates_pre_2008 = pd.read_csv('DFEDTAR.csv')
rates_post_2008 = pd.read_csv('DFEDTARU.csv')

In [3]:
rates_pre_2008.head()

  observation_date  DFEDTAR
0       1982-09-27    10.25
1       1982-09-28    10.25
2       1982-09-29    10.25
3       1982-09-30    10.25
4       1982-10-01    10.00

In [4]:
rates_pre_2008 = rates_pre_2008.rename(columns={'DFEDTAR':'rate'})

In [5]:
rates_post_2008.head()

  observation_date  DFEDTARU
0       2008-12-16      0.25
1       2008-12-17      0.25
2       2008-12-18      0.25
3       2008-12-19      0.25
4       2008-12-20      0.25

In [6]:
rates_post_2008 = rates_post_2008.rename(columns={'DFEDTARU':'rate'})

In [7]:
import datetime

In [8]:
full_rates = pd.concat([rates_pre_2008, rates_post_2008], axis=0, ignore_index=True)

In [9]:
full_rates.head()

  observation_date   rate
0       1982-09-27  10.25
1       1982-09-28  10.25
2       1982-09-29  10.25
3       1982-09-30  10.25
4       1982-10-01  10.00

In [10]:
full_rates['observation_date'] = pd.to_datetime(full_rates['observation_date'])

In [11]:
full_rates[:10]

  observation_date   rate
0       1982-09-27  10.25
1       1982-09-28  10.25
2       1982-09-29  10.25
3       1982-09-30  10.25
4       1982-10-01  10.00
5       1982-10-02  10.00
6       1982-10-03  10.00
7       1982-10-04  10.00
8       1982-10-05  10.00
9       1982-10-06  10.00

# Re-read beige book data

In [12]:
beige_book_data = pd.read_csv('beige_book_1996_2025.csv')

In [13]:
beige_book_data.head()

,year,month,url,text,timestamp
0,1996,10,https://www.federalreserve.gov/fomc/beigebook/...,moderate expansion of business activity charac...,1996-10-01
1,1996,12,https://www.federalreserve.gov/fomc/beigebook/...,moderate economic growth continues to be repor...,1996-12-01
2,1997,1,https://www.federalreserve.gov/fomc/beigebook/...,most district reports characterized early autu...,1997-01-01
3,1997,3,https://www.federalreserve.gov/fomc/beigebook/...,district economies generally continue to expan...,1997-03-01
4,1997,5,https://www.federalreserve.gov/fomc/beigebook/...,district economies generally continued to expa...,1997-05-01

In [14]:
filtered = full_rates[full_rates['observation_date'].dt.day == 1].copy()

In [15]:
filtered.head()

    observation_date  rate
4         1982-10-01  10.0
35        1982-11-01   9.5
65        1982-12-01   9.0
96        1983-01-01   8.5
127       1983-02-01   8.5

# Trim table based on beige book dates

In [16]:
year_month_pairs = [(year, month) for year, month in zip(beige_book_data['year'], beige_book_data['month'])]

In [17]:
print(year_month_pairs)

[(1996, 10), (1996, 12), (1997, 1), (1997, 3), (1997, 5), (1997, 6), (1997, 8), (1997, 9), (1997, 10), (1997, 12), (1998, 1), (1998, 3), (1998, 5), (1998, 6), (1998, 8), (1998, 9), (1998, 11), (1998, 12), (1999, 1), (1999, 3), (1999, 5), (1999, 6), (1999, 8), (1999, 9), (1999, 11), (1999, 12), (2000, 1), (2000, 3), (2000, 5), (2000, 6), (2000, 8), (2000, 9), (2000, 11), (2000, 12), (2001, 1), (2001, 3), (2001, 5), (2001, 6), (2001, 8), (2001, 9), (2001, 10), (2001, 11), (2002, 1), (2002, 3), (2002, 4), (2002, 6), (2002, 7), (2002, 9), (2002, 10), (2002, 11), (2003, 1), (2003, 3), (2003, 4), (2003, 6), (2003, 7), (2003, 9), (2003, 10), (2003, 11), (2004, 1), (2004, 3), (2004, 4), (2004, 6), (2004, 7), (2004, 9), (2004, 10), (2004, 12), (2005, 1), (2005, 3), (2005, 4), (2005, 6), (2005, 7), (2005, 9), (2005, 10), (2005, 11), (2006, 1), (2006, 3), (2006, 4), (2006, 6), (2006, 7), (2006, 9), (2006, 10), (2006, 11), (2007, 1), (2007, 3), (2007, 4), (2007, 6), (2007, 7), (2007, 9), (2007, 10), (2007, 11), (2008, 1), (2008, 3), (2008, 4), (2008, 6), (2008, 7), (2008, 9), (2008, 10), (2008, 12), (2009, 1), (2009, 3), (2009, 4), (2009, 6), (2009, 7), (2009, 9), (2009, 10), (2009, 12), (2010, 1), (2010, 3), (2010, 4), (2010, 6), (2010, 7), (2010, 9), (2010, 10), (2010, 12), (2011, 1), (2011, 4), (2011, 6), (2011, 7), (2011, 9), (2011, 10), (2011, 11), (2012, 1), (2012, 2), (2012, 4), (2012, 6), (2012, 7), (2012, 8), (2012, 10), (2012, 11), (2013, 1), (2013, 3), (2013, 4), (2013, 6), (2013, 7), (2013, 9), (2013, 10), (2013, 12), (2014, 1), (2014, 3), (2014, 4), (2014, 6), (2014, 7), (2014, 9), (2014, 10), (2014, 12), (2015, 1), (2015, 4), (2015, 6), (2015, 7), (2015, 9), (2015, 10), (2015, 12), (2016, 1), (2016, 3), (2016, 4), (2016, 6), (2016, 7), (2016, 9), (2016, 10), (2016, 11), (2017, 1), (2017, 3), (2017, 4), (2017, 5), (2017, 7), (2017, 9), (2017, 10), (2017, 11), (2018, 1), (2018, 3), (2018, 4), (2018, 5), (2018, 7), (2018, 9), (2018, 10), (2018, 12), (2019, 1), (2019, 3), (2019, 4), (2019, 6), (2019, 7), (2019, 9), (2019, 10), (2019, 11), (2020, 1), (2020, 3), (2020, 4), (2020, 5), (2020, 7), (2020, 9), (2020, 10), (2020, 12), (2021, 1), (2021, 3), (2021, 4), (2021, 6), (2021, 7), (2021, 9), (2021, 10), (2021, 12), (2022, 1), (2022, 3), (2022, 4), (2022, 6), (2022, 7), (2022, 9), (2022, 10), (2022, 11), (2023, 1), (2023, 3), (2023, 4), (2023, 5), (2023, 7), (2023, 9), (2023, 10), (2023, 11), (2024, 1), (2024, 2), (2024, 4), (2024, 5), (2024, 7), (2024, 8), (2024, 10), (2024, 11), (2025, 1), (2025, 2), (2025, 4), (2025, 5), (2025, 7), (2025, 8), (2025, 10)]

In [18]:
type(full_rates['observation_date'][0].month)

int

In [19]:
rates_filtered = filtered[
    (full_rates['observation_date'].dt.to_period('M').apply(lambda x: (x.year, x.month)).isin(year_month_pairs))
]

/var/folders/lf/lgn5wxd97mzcmfjqdkjmq1dh0000gn/T/ipykernel_42513/2361581550.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rates_filtered = filtered[

In [26]:
rates_filtered = rates_filtered.copy()

In [27]:
rates_filtered.head()

     observation_date  rate
5118       1996-10-01  5.25
5179       1996-12-01  5.25
5210       1997-01-01  5.25
5269       1997-03-01  5.25
5330       1997-05-01  5.50

In [28]:
decisions = []
for prev, curr in zip(rates_filtered['rate'][:-1], rates_filtered['rate'][1:]):
    if curr > prev:
        decisions.append('raise')
    elif curr < prev:
        decisions.append('lower')
    else:
        decisions.append('hold')
decisions.insert(0, "na")

In [29]:
len(decisions)

231

In [30]:
rates_filtered['decision'] = decisions

In [31]:
rates_filtered.to_csv("filtered_labels.csv")